.help-top {
    text-align: center;
    padding: 50px 0;
}

.adoption-container {
    background: #fafafa;
    padding: 70px 0;
}

.adoption-box {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img-adoption {
    height: 500px;
}

.adoption-text {
    margin-top: 85px;     
}

.text {
    font-size: 15px;
    font-family: "Arial";
    color: rgb(76, 76, 76);
    font-weight: normal;
    margin: 35px 0 50px;
    line-height: 23px;
}

.adoption-button {
    border: 2px solid #f1cdb3;
    border-radius: 30px;
    font-size: 17px;
    font-family: "Georgia";
    color: #292929;
    padding: 15px 40px;

    &:hover {
    cursor: pointer;
    background-color: #f1cdb3;
    }
}

.temporary-adoption-box {
    max-width: 830px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;

    img {
        height: 270px;
    }
}

.volunteer-container {
    background: #fafafa;
    padding: 70px 0 70px;
}

.volunteer-box{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
}

.volunteer-items {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.volunteer-item {
    text-align: center;

    img {
        height: 55px;
        margin-bottom: 20px;
    }

    div {
        font-size: 20px;
        font-family: "Georgia";
        color: rgb(84, 84, 84);
    }
}

.be-volunteer {
    text-align: left;
    margin-top: 70px;

    div {
        font-size: 18px;
        font-family: "Georgia";
        font-weight: 550;
        color: rgb(84, 84, 84);
        margin: 20px 0 10px;
    }

    p {
        font-size: 15px;
        font-family: "Arial";
        color: rgb(76, 76, 76);
        font-weight: normal;
        margin: 0;
        line-height: 23px;
    }
}

.contact-us-link {
    font-size: 18px;
    font-family: "Georgia";
    font-weight: 550;    
    color: rgb(84, 84, 84);
    text-decoration: underline;
    margin: 0;
    padding: 0;

    &:hover {
        text-decoration: none;
        color:#f1cdb3;
    }
}