* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
}

.page-top {
    text-align: center;
    padding: 70px 0;
}

.header-container {
    padding-top: 10px;
    padding-bottom: 35px;
    margin: 0;
    background: #fafafa;
    
}

.header-inner {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        text-decoration: none;
    }
}

.logo-text {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(41, 41, 41);
    margin: 0;
}

.logo {
    margin-top: 32px;
    font-weight: normal;
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(84, 84, 84); 
    margin-bottom: 10px;
    padding: 0; 
}

.header-menu {
    display: flex;
    justify-content: space-between ;
    list-style: none;
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-size: 15pt;
    font-family: "Arial";
    color: rgb(84, 84, 84);
    padding-left: 40px;

    &:hover {
        text-decoration: underline 7px #f1cdb3;
    }
}

.sortby-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.category {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 5px;

    li {
        font-size: 17px;
        font-family: "Georgia";
        color: rgb(84, 84, 84);
        margin: 0 7px 20px ;
        padding: 8px 30px;
        border: 2px solid #f1cdb3;
        border-radius: 25px;
        background-color: #fafafa;
    
        &:hover {
            background-color: #f1cdb3;
            cursor: pointer;
        } 
    }

    .active {
        background-color: #f1cdb3;
    }
}

.pets-container {
    width: 1170px;
    margin: 72px auto 65px;
}

.sort {
    position: relative;
    font-family: "Georgia";
    color: rgb(84, 84, 84);
    padding-right: 20px;
    margin-top: 5px;
}

.sort-container {
    display: flex;
    align-items: center;

    svg {
        margin-right: 8px;
    }

    .sort-text {
        margin-right: 8px;
    }

    .sort-chosen {
        font-weight: bold;
        color: #eabc9a;
        cursor: pointer;
    }
}

.sort-popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background:#fafafa;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
      li {
        padding: 12px 30px;
        cursor: pointer;

        &:hover {
          background: #f1cdb3;
        }
      }
    }
}

h2 {
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    font-size: 35px;
    font-family: "Georgia";
    color: rgb(84, 84, 84);
}

h3 {
    font-weight: normal;
    font-size: 35px;
    font-family: "Georgia";
    color: rgb(84, 84, 84);
    margin: 0 auto;
}

.pets-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.pets-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    padding-bottom: 35px;
    margin: 0 auto 35px;
    border-radius: 10px;
}

 .button {
    padding: 20px 50px;
    border: 2px solid #f1cdb3;
    border-radius: 30px;
    background-color: #fafafa;
    font-size: 17px;
    font-family: "Georgia";
    color: rgb(41, 41, 41);
    text-align: center;
    margin: 0 auto;

    &:hover {
        background-color: #f1cdb3;
        cursor: pointer;
    } 
}

.name {
    font-size: 20px;
    font-family: "Georgia";
    color: rgb(84, 84, 84);
    text-align: center;
    margin: 30px auto 20px;
    padding: 0;
}

.count_page:hover {
    cursor: pointer;
    background: #f1cdb3;
}

.modal-wrapper{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pet-modal {
    max-width: 942px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
    transition: 0.5s;
}

.pet {
    height: 430px;
}

.modal-text  {
    padding: 0 40px;
    flex-grow: 1;

    ul {
        margin-left: 15px;
        padding: 0;
        margin-bottom: 60px;
        color: rgb(84, 84, 84);
    }
    
    li{
        margin-bottom: 15px;
        color: #f1cdb3;
    }
}

.pet-name {
    font-size: 35px;
    font-weight: normal;
    font-family: "Georgia";
    color: rgb(84, 84, 84);
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
}

.type {
    font-size: 20px;
    font-weight: normal;
    font-family: "Georgia";
    color: rgb(76, 76, 76);
    margin-top:15px;
    margin-bottom: 32px;
}

.description {
    font-size: 15px;
    font-family: "Arial";
    color: rgb(76, 76, 76);
    margin-bottom: 30px;
    line-height: 20px;
} 

.info {
    font-size: 17px;
    font-family: "Georgia";
    font-weight: 500;
    color: rgb(76, 76, 76);
}

.info-text {
    font-size: 15px;
    font-family: "Arial";
    color: rgb(76, 76, 76);
    margin-bottom: 30px;
} 

.close {
    position: absolute;
    right: -40px;
    top: -40px;
    background:#fafafa;
    margin: 0;
    padding: 7px 10px;
    border:2px solid #f1cdb3;
    border-radius: 50%;
    text-decoration: none;
    z-index: 5;
    &:hover {
        cursor: pointer;
        background: #f1cdb3;
        text-decoration: none;
        }
}

.x {
    margin: 0;
    height: 20px;
    width: 20px;

    path{
        fill: rgb(76, 76, 76);
    }
}

.footer-container {
    margin: 0;
    padding: 0;
    background: rgb(76,62,54);
    background: linear-gradient(90deg, rgba(76,62,54,1) 49%, rgba(25,25,27,1) 100%);
}

.footer-inner {
    width: 1170px;
    margin: 0 auto;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: grid;
    padding: 0;
    margin-top: 83px;
    padding-bottom: 20px;
}

.footer-text {
    font-size: 35px;
    font-family: "Georgia";
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 0;
    margin: 0;
}

.contact {
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-family: "Times New Roman";
    color: rgb(241, 205, 179);
    text-align: left;
}

.contact-text {
    margin: 0;
    padding: 0;
}

svg {
    height: 30px;
    padding: 0;
    margin-right: 25px;
    
    path {
        fill: rgb(241, 205, 179);
    }
}

